<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/juliastyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,100" rel="stylesheet"> 

    
    <title> Julia's Website </title>
  </head>
  
  <div class="container">

<div id="main" class="paddinger" >

  <div class="row header2">
    <div class="row paddinger1">
      <div class="black text-right bold">
        Skills Workexperiece Publications 
      </div>
    </div>
    <div class="row paddinger3">
      <div id="header_pic" class="col-sm-2">
      </div>
      <div id="header" class="col-sm-10">
      </div>
    </div>
    <div class="row paddinger2">
      <div id="header_text" class="col-sm-12">
      </div>
    </div>
  </div>

  <div class="row">
    <div id="skills" class="col-sm-12 main_body2">
    <h2>Skill Set:</h2>
    </div>
  </div>
  
  <div class="row main_body1">  
    <div id="workExperience" class="col-sm-6">
      <h2>Work Experience</h2>
    </div>
        <div id="education" class="col-sm-6">
      <h2>Education</h2>
    </div>
  </div>

  <div class="row main_body2">  
    <div id="studentPlacement" class="col-sm-6">
      <h2>Student Placements</h2>
    </div>
    <div id="volunteerWork" class="col-sm-6">
      <h2>Volunteer Work</h2>
    </div>
  </div>

  <div class="row main_body1">  
    <div id="publication" class="col-sm-6">
      <h2>Publications</h2>
    </div>
    <div id="patent" class="col-sm-6">
      <h2>Patents</h2>
    </div>
  </div>

  <div class="row main_body2">  
    <div id="awards" class="col-sm-6">
      <h2>Awards</h2>
    </div>
    <div id="courses" class="col-sm-6">
      <h2>Professional Development</h2>
    </div>
  </div>

  <div class="row  main_body1">  
    <div id="languages" class="col-sm-6 paddinger1">
      <h2>Languages</h2>
    </div>
    <div id="interests" class="col-sm-6 paddinger1">
      <h2>Other interests</h2>
    </div>
  </div>

  <div class="row main_body2">
    <div id="contact" class="col-sm-12 paddinger1">
      <h2>Contact me</h2>
    </div>
  </div>

  <div class="row main_body1">
     <div id="mapDiv" class="col-sm-12">
      <h2>Where I've Lived and Worked</h2>
    </div>


  </div>

 <!-- Modal --> 
 <div class="modal fade" id="ComputationalSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content compskill-background"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="ComputationalSkills">Computational Skills</h4> 
      </div> 
      <div id= "CompSkillText" class="modal-body">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

 <div class="modal fade" id="ExperimentalSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content expskill-background"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="ExperimentalSkills">Experimental Skills</h4> 
      </div> 
      <div id= "ExpSkillText" class="modal-body">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

  <div class="modal fade" id="TransferableSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content transfskill-background"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="TransferableSkills">Transferable Competencies</h4> 
      </div> 
      <div id= "TransSkillText" class="modal-body">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXaQnC9eWVVMrYql3kLR3oAdGQ9NrYrwk&libraries=places"></script>
  <script type="text/javascript" src="js/jquery-2.2.4.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script src="/js/resume_helper.js"></script>
  <script src="/js/julia_resumedata.js"></script>

</div>

  </div>
</html>
