<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/juliastyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,100" rel="stylesheet"> 
    
    <title> Julia Baldauf CV </title>
  </head>
  
  <body>
  <div class="container-fluid">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          Dr. Julia S. Baldauf - Curriculum Vitae 
      </div>
      <div class="text-right">
        <a class="href_nav" href="/static/docs/CV_JB_en.pdf" download>Download CV</a>
        <br>
        <a class="href_nav" href="#contact">Contact me</a>
      </div>
    </div>
  </div>


    <div class="row header_cv">
        <div id="header_pic" class="col-sm-2">
        </div>
        <div id="header" class="col-sm-10">
        </div>
    </div>
  
    <div class="row main_body1">
    <div class="col-sm-12 text-center">
    <ol class="carousel-linked-nav pagination">
      <li class="active"><a href="#1">Work Experience & Education</a></li>
      <li><a href="#2">Publications & Patents</a></li>
      <li><a href="#3">Student Placements & Volunteer Work</a></li>
      <li><a href="#4">Awards & Professional Development</a></li>
      <li><a href="#5">Memberships</a></li>
    </ol>
    </div>
    </div>

    <div class="row main_body1 bold">
    <div class="col-sm-12 text-center">
    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner main_body1">

    <div class="active item">
    <div class="row main_body1">  
      <div id="workExperience" class="col-sm-6">
        <h2>Work Experience</h2>
      </div>
      <div id="education" class="col-sm-6">
      <h2>Education</h2>
      </div>
    </div>
    </div>

    <div class="item">
    <div class="row main_body1">  
      <div id="publication" class="col-sm-6">
        <h2>Publications</h2>
      </div>
      <div id="patent" class="col-sm-6">
        <h2>Patents</h2>
      </div>
    </div>
    </div>


    <div class="item">
    <div class="row main_body1">  
      <div id="studentPlacement" class="col-sm-6">
        <h2>Student Placements</h2>
      </div>
      <div id="volunteerWork" class="col-sm-6">
        <h2>Volunteer Work</h2>
      </div>
    </div>
    </div>

    <div class="item">
    <div class="row main_body1">  
      <div id="awards" class="col-sm-6">
        <h2>Awards</h2>
      </div>
      <div id="courses" class="col-sm-6">
        <h2>Professional Development</h2>
      </div>
    </div>
    </div>

    <div class="item">
    <div class="row main_body1">  
      <div id="members" class="col-sm-6">
        <h2>Memberships</h2>
      </div>
      <div id="" class="col-sm-6">
        <h2></h2>
      </div>
    </div>
    </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left control-custom" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right control-custom" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    </div>
    </div>

    <div class="row main_body2">
      <div class="col-sm-12">
        <h2>Skill Set:</h2>
      </div>
      <div class="row">
        <div id="skill_exp" class="col-sm-3 skillbox"></div>
        <div id="skill_tra" class="col-sm-3 skillbox"></div>
        <div id="skill_comp" class="col-sm-4 skillbox"></div>
      </div>
    </div>

    <div class="row  main_body1">  
      <div id="languages" class="col-sm-6">
        <h2>Languages</h2>
      </div>
      <div id="interests" class="col-sm-6">
        <h2>Other interests</h2>
      </div>
    </div>

    <div class="row main_body2">
      <div id="contact" class="col-sm-12">
        <h2>Contact me</h2>
      </div>
    </div>

    <div class="row main_body1">
      <div id="mapDiv" class="col-sm-12">
        <h2>Where I've Lived and Worked</h2>
        <div class = "fixedheight" id="map">
        </div> 
      </div>
    </div>


 <!-- Modal --> 
 <div class="modal fade" id="ComputationalSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content compskill-background bold"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="ComputationalSkills">Computational Skills</h4> 
      </div> 
      <div id= "CompSkillText" class="modal-body bold">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

 <div class="modal fade" id="ExperimentalSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content expskill-background bold"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="ExperimentalSkills">Experimental Skills</h4> 
      </div> 
      <div id= "ExpSkillText" class="modal-body bold">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>


  <div class="modal fade" id="TransferableSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content transfskill-background bold"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="TransferableSkills">Transferable Competencies</h4> 
      </div> 
      <div id= "TransSkillText" class="modal-body bold">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq3GQW_N2--Ldh45UNmEZUZpvRQna7AWQ&libraries=places"
  type="text/javascript"></script>
  <script type="text/javascript" src="js/jquery-2.2.4.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script src="/js/resume_helper.js"></script>
  <script src="/js/julia_resumedata.js"></script>



</div>
</div>

</body>
</html>
