<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/juliastyleMove.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,100" rel="stylesheet"> 
    
    <title>JB^2 Diary</title>
  </head>
  
  <body>
  <div class="container-fluid">

    <div class="row">
		<div class="col-sm-6 diary-topbox1">
    		JB<span class=sup>2</span> Travel Diary
  		</div>
		<div class="col-sm-6 diary-topbox2">
		</div>
	</div>
	<br>

    <div class="row">  
      <div id="diary" class="col-sm-12">
	  </div>
    </div>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq3GQW_N2--Ldh45UNmEZUZpvRQna7AWQ&libraries=places"type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery-2.2.4.js"></script> 
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="/js/diaryMove_helper.js"></script>
  	<script src="/js/julia_diaryMove.js"></script>

  </div>

  </body>
</html>
