{% extends 'base.html' %}

{% block content %}
  
<div class="row">
  <div class="col-sm-4 first-box">
    <br>
    Julia's Resume
    <br>
    <a href="/resume">CV</a>
  </div>
  <div class="col-sm-4 second-box">
    <br>
    JB2 Mountaineering and Rockclimbing Diary
    <br>
    <a href="/blog">Blog</a>
  </div>
  <div class="col-sm-4 third-box">
    Useful conversions:
    <br>
    <br>
    <input type = 'submit', name = 'submit', value = 'FizzBuzz'>  
    <input type = 'submit', name = 'submit', value = 'ShoppingList'>  
    <input type = 'submit', name = 'submit', value = 'Rot13Encription'> 
    <input type = 'submit', name = 'submit', value = 'Asciichan'>  
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-12">
    <hr>
    <h4>Happiness is a choice - we don't need to wait for everything to be perfectly aligned. 
    <br>Let's find happiness in any moment!</h4>
    <hr>
  </div>
</div>



{% endblock %}
