{% extends 'base.html' %}

{% block content %}
  
<div class="row">
  <div class="col-sm-6 diary-box" onclick="location.href='/diary';">
    JB<span class=sup>2</span> Honeymoon Diary
  </div>
  <div class="col-sm-6 cv-box" onclick="location.href='/resume';">
    Julia's Resume
  </div>
</div>

<div class="row">
  <div class="col-sm-6 blog-box" onclick="location.href='/blog';">
    Guestbook
  </div>
  <div class="col-sm-6 cup-box" onclick="location.href='/cup';">
    Take away Craziness
  </div>

</div>

<div class="row text-center">
  <div class="col-sm-12 quote italic">
    <hr>
    <h4>Happiness is a choice - we don't need to wait for everything to be perfectly aligned. 
    <br>Let's find happiness in any moment!</h4>
    <hr>
  </div>
</div>

{% endblock %}
