
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.horizontal-list{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 20px;
}

.paddingjulia {
  padding-left: 100px;
  padding-right: 100px;
}

.summary {
  font-size: 12px;
}

.navbar {
  font-weight: bold;
  background:  #5F5771;
  color: #F8EEE7;
  font-weight: 300;
  padding-top: 5px;
}

.quote {
  color: #5F5771;
  font-weight: 100;
}

.bold {
  font-weight: 300;
}

.navbar-header {
  color: #F8EEE7;
  font-size: 26px;
  font-weight: 100;
}

.header_cv {
  background:  linear-gradient(#665D78,#3E394F);
  color: #A98A6D;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 15px;
}

.biopic {
   padding:1px;
   border:1px solid white;
   background-color:#665D78;
}

.h2_color {
  color: #49274A;
}

.fixedheight {
  height: 500px;
}

.skillbox {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
  background-color: #665D78;
}

.distance {
  padding-bottom: 10px;
}

.italic {
  font-style: italic;
}

.carouselnavjulia {
  color: #49274A;
}

.award {
  font-weight: bold;
}

.name {
  font-weight: 100;
}

.main_body1 {
  background-color: #F8EEE7;
  color: #49274A;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.main_body2 {
  background-color: #F4DECB;
  color: #301934;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.black {
  color: #241A11;
}

.transfskill-background {
    background-image: url("/images/transfskill.jpg");
    color: #301934;

}

.date-text {
  color: grey;
  font-weight: 300i;
}


.expskill-background {
    background-image: url("/images/expskill.jpg");
    color: #FFF;
}

.compskill-background {
    background-image: url("/images/compskill.jpg");
    color: #FFF;
}

.h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header {
  font-size: 55px;
  text-shadow: white 0px 0px 2px;
  border: solid 2px;
  background-image: url("/images/panorama.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-repeat: repeat;
	}

.thumbnail {
  height: 55px;
  width: 55px;
  margin-top: 20px;
}

.carousel-control {
text-shadow: none;
opacity: 0.5;
filter: alpha(opacity=50)
}

.carousel-control.left {
background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(495, 87, 113,0.5)), to(rgba(95, 87, 113,0.0001)));
background-image: -webkit-linear-gradient(left, color-stop(rgba(95, 87, 113,0.5) 0), color-stop(rgba(95, 87, 113,0.0001) 100%));
background-image: -moz-linear-gradient(left, rgba(95, 87, 113,0.5) 0, rgba(95, 87, 113,0.0001) 100%);
background-image: linear-gradient(to right, rgba(95, 87, 113,0.5) 0, rgba(95, 87, 113,0.0001) 100%);
background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}
.carousel-control.right {
background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(95, 87, 113,0.0001)), to(rgba(95, 87, 113,0.5)));
background-image: -webkit-linear-gradient(left, color-stop(rgba(95, 87, 113,0.0001) 0), color-stop(rgba(495, 87, 113,0.5) 100%));
background-image: -moz-linear-gradient(left, rgba(95, 87, 113,0.0001) 0, rgba(95, 87, 113,0.5) 100%);
background-image: linear-gradient(to right, rgba(95, 87, 113,0.0001) 0, rgba(95, 87, 113,0.5) 100%);
background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}
.carousel-control:hover, .carousel-control:focus {
opacity: 1;
filter: alpha(opacity=100)
}

.patent {
  width: 100%;
  position: center;
  padding-top: 10px;
}

.pad-top {
  padding-top: 10px;
}

.error {
    color: red
}

.diary-box {
  background:  linear-gradient(#6AA2DB,#9DD7FC);
  background-image: url("/images/diary.png");
  background-position: center; 
  color: #FFFEFF;
  border-radius: 25px;
  padding:10px;
  opacity: 0.8;
  height: 80px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.blog-box {
  background:  linear-gradient(#EDECEA,#5C5A27);
  background-image: url("/images/blog.png");
  background-position: center; 
  color: #FFFEFF;
  border-radius: 25px;
  padding:10px;
  opacity: 0.8;
  height: 80px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.cup-box {
  background:  linear-gradient(#322D29,#645E2A);
  background-image: url("/images/cup.png");
  background-position: center; 
  color: #FFFEFF;
  border-radius: 25px;
  padding:10px; 
  opacity: 0.8;
  height: 80px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.cv-box {
  background:  linear-gradient(#665D78,#3E394F);
  background-image: url("/images/cv.png");
  background-position: center; 
  color: #F8EEE7;
  border-radius: 25px;
  padding:10px;
  opacity: 0.8;
  height: 80px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.cv-box:hover {
  cursor: pointer;
  opacity: 1;
}

.blog-box:hover {
  cursor: pointer;
  opacity: 1;
}

.cup-box:hover {
  cursor: pointer;
  opacity: 1;
}

.diary-box:hover {
  cursor: pointer;
  opacity: 1;
}

.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
} 

input[type=submit] {
    font-size: 24px;
}

hr {
    margin-top: 20px;
}

.post + .post {
    margin-top: 20px;
}

.post-subject {
    font-weight: bold;
    font-size: 20px;
}

.post-body {
    margin: 0;
   font-size: 17px;
}


.main-title  {
    background-color: blue;
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.href {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.href_nav {
    color: #F8EEE7;}

.href_nav:hover {
    color: #F4DECB;}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #3E394F;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #3E394F;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #3E394F;
  border-color: #3E394F;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
